@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Itim&family=Kode+Mono:wght@400..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Itim&family=Jaro:opsz@6..72&family=Kode+Mono:wght@400..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #191825;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 0 8px 0;
    width: 100%;
}

header img {
    width: 120px;
    height: 70px;
}

.nav-bar {
    text-decoration: none;
    color: white;
    font-family: "Parkinsans";
    font-weight: bolder;
    font-size: 21px;
}

.main-button {
    font-family: "Parkinsans";
    background-color: #E384FF;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.main-button:hover {
    background-color: #FFA3FD;
}

/* .main-container {
    margin-top: 30px;
} */

.stadium-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stadium-image img {
    width: 100vw;
    height: 100vh;
}

.Player-cards {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.attack-cards {
    height: fit-content;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    column-gap: 200px;
}

.mid-cards {
    height: 200px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    column-gap: 90px;
}

.defenders {
    margin-top: 10px;
    height: fit-content;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

/* #CB {
    transform: translateY(70px);
} */

.goalkeeper {
    margin-top: 0px;
    height: fit-content;
    display: grid;
    grid-template-columns: 150px;
    justify-content: center;
}

.card {
    height: fit-content;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
}

.position {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
}

.stats {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 40px;
}

.rating {
    position: absolute;
    top: 20px;
    left: 25px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

.rating p {
    line-height: 5px;
}

.player-pic {
    position: absolute;
    right: 20%;
    top: 13%;
}

.player-pic img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.player-name {
    font-family: sans-serif;
    font-weight: bolder;
    position: absolute;
    color: white;
    top: 88px;
    left: 55px;
}

.shooting {
    bottom: 46px;
    left: 19px;
    font-size: 10px;
    position: absolute;
    line-height: 3px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.passing {
    color: white;
    font-family: sans-serif;
    bottom: 46px;
    left: 43px;
    font-size: 10px;
    position: absolute;
    line-height: 3px;
}

.dribbling {
    color: white;
    font-family: sans-serif;
    bottom: 46px;
    left: 64px;
    font-size: 10px;
    position: absolute;
    line-height: 3px;
}

.defending {
    color: white;
    font-family: sans-serif;
    bottom: 46px;
    left: 85px;
    font-size: 10px;
    position: absolute;
    line-height: 3px;
}

.physical {
    color: white;
    font-family: sans-serif;
    bottom: 46px;
    left: 107px;
    font-size: 10px;
    position: absolute;
    line-height: 3px;
}

.flag img {
    width: 20px;
    height: 20px;
}

.flag {
    position: absolute;
    bottom: 25px;
    left: 65px;
}

.league img {
    width: 20px;
    height: 20px;
}

.league {
    position: absolute;
    top: 70px;
    left: 27px;
}

.available-create-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards-exist {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 70vw;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.cards-exist img {
    height: 210px;
}

.cards-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.cards-exist h1 {
    color: white;
}

.add-player-card {
    font-family: "Parkinsans";
    background-color: #E384FF;
    border: none;
    border-radius: 3px;
    height: 50px;
    width: 140px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.add-player-card:hover {
    background-color: #FFA3FD;
}

.carding {
    border: 1px solid #e5a2f9;
    height: 700px;
    width: 700px;
    display: grid;
    place-content: center;
    row-gap: 20px;
    text-align: center;
}

.carding h1 {
    font-family: sans-serif;
    color: white;
}

.carding input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
}

.selection {
    margin: auto;
    height: 40px;
    width: 600px;
}

.adding-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listed-card {
    position: relative;
    cursor: pointer;
}

.listed-stats {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 3px;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    text-align: center;
}

.listed-image {
    position: absolute;
    top: 20px;
    right: 20px;
}

.listed-image img {
    height: 70px;
}

.listed-name {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 90px;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.listed-player-stats {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    bottom: 40px;
    line-height: 3px;
    left: 18px;
    font-size: 8px;
    column-gap: 3px;
    text-align: center;
}

.listed-flag {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.listed-flag img {
    height: 25px;
    width: 30px;
}

.listed-league {
    position: absolute;
    top: 55px;
    left: 17px;
}

.listed-league img {
    height: 30px;
}

.available-create-cards {
    display: none;
}

.back-button {
    border: none;
    background-color: transparent;
    color: white;
}

.back-button {
    display: none;
    cursor: pointer;
}

.profile-image {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(195, 193, 193);
}

.profile-image input {
    display: none;
}

.profile-image label {
    margin-top: 10px;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px;
    background-color: #E384FF;
    border-radius: 4px;
    cursor: pointer;
}

.flag-image {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
}

.flag-image img {
    width: 60px;
    height: 40px;
    background-color: rgb(195, 193, 193);
}

.flag-image input {
    display: none;
}

.flag-image label {
    color: white;
    font-family: sans-serif;
    padding: 10px 10px;
    background-color: #E384FF;
    border-radius: 4px;
    cursor: pointer;
}

.league-image{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
}
.league-image img {
    width: 60px;
    height: 40px;
    background-color: rgb(195, 193, 193);
}
.league-image input {
    display: none;
}
.league-image label{
    color: white;
    font-family: sans-serif;
    padding: 10px 10px;
    background-color: #E384FF;
    border-radius: 4px;
    cursor: pointer;
}
.images-uploaded {
    display:flex;
    column-gap: 20px;
    margin: auto;
}
.card-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-upload img {
    width: 90px;
    height: 100px;
}
.card-upload input{
    display: none;
}
.card-upload label {
    color: white;
    font-family: sans-serif;
    padding: 10px 10px;
    background-color: #E384FF;
    border-radius: 4px;
    cursor: pointer;
}
.gk-created {
    display: none;
}
.submit-button{
    padding: 10px 15px;
    margin: auto;
    border: none;
    background-color: #E384FF;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.all-cards{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 70vw;
    border: 1px solid gray;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.all-cards img {
    height: 210px;
}


.all-cards .listed-card {
    position: relative;
    cursor: pointer;
}

.all-cards .listed-stats {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 3px;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    text-align: center;
}

.all-cards .listed-image {
    position: absolute;
    top: 20px;
    right: 20px;
}

.all-cards .listed-image img {
    height: 70px;
}

.all-cards .listed-name {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 90px;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* #test{
    height: 200px;
    width: 146px;
} */


.all-cards .listed-player-stats {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    bottom: 40px;
    line-height: 3px;
    left: 18px;
    font-size: 8px;
    column-gap: 3px;
    text-align: center;
}

.all-cards .listed-flag {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.all-cards .listed-flag img {
    height: 25px;
    width: 30px;
}

.all-cards .listed-league {
    position: absolute;
    top: 55px;
    left: 17px;
}

.all-cards .listed-league img {
    height: 30px;
}
.remove-button{
    position: absolute;
    border-radius: 50%;
    padding: 4px 8px;
    background-color: red;
    color: white;
}
#formation-select{
    width: 80px;
    height: 40px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}


@media(max-width:768px){
    .all-cards{
        margin-top: 30px;
        grid-template-columns: repeat(3,180px);
    }
    .cards-exist{
        grid-template-columns: repeat(3,180px);
    }
    .card {
        transform: scale(0.8);
    }
    .attack-cards{
        column-gap: 20px;
    }
}

@media(max-width:426px){
    .cards-exist{
        grid-template-columns: repeat(2,150px);
    }
    .carding{
        place-content: center;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .carding h1 {
        width: 100%;
    }
    .images-uploaded{
        width: 100%;
    }
    .name-rating {
        width: 100%;
    }
    .created-stats {
        width: 100%;
    }
    .selection{
        width: 100%;
    }
    .all-cards{
        margin-top: 30px;
        grid-template-columns: repeat(2,150px);
    }

    .card {
        transform: scale(0.5);
    }
    .mid-cards{
        column-gap: 20px;
        display: flex;
    }
    .mid-cards .card {
        transform: scale(0.8);
        width: 90px;
    }
    .defenders{
        column-gap: 0;
        grid-template-columns: repeat(4,90px);
    }
    .defenders .card{
        transform: scale(0.8);
    }
}
@media(max-width:376px){
    .cards-exist{
        grid-template-columns: 200px;
    }
    .all-cards{
        margin-top: 30px;
        grid-template-columns: 250px;
    }
    .attack-cards{
        column-gap: 0px;
    }
    .defenders{
        padding: 0;
    }
}
@media(max-width:321px){
    .images-uploaded{
        width: 100%;
        column-gap: 10px;
        transform: scale(0.8);
    }
    .selection{
        width: 90%;
    }
    .created-stats{
        width: 100%;
    }
    .card {
        transform: scale(0.5);
    }
    .attack-cards{
        display: flex;
    }
    .attack-cards .card{
        transform: scale(0.6);
        width: 110px;
    }
    .defenders{
        display: flex;
    }
}